<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">

  <div class="img-info">
    <img src="https://yt3.googleusercontent.com/ytc/AL5GRJUdHKbScGTyDksd0ilKTDCy3myb_8j_W0GDGVvDkA=s900-c-k-c0x00ffffff-no-rj" />
  </div>

  <ion-card style="background-color: rgb(218, 203, 178); color:rgb(0, 0, 0)">
    <ion-card-header>
      <ion-card-title>Billie Eilish</ion-card-title>
      <ion-card-subtitle>billizinha@gmail.com</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Billie Eilish Pirate Baird O'Connell, mais conhecida como Billie Eilish, é uma cantora e compositora estadunidense. Ganhou popularidade em 2016, quando lançou o single de estreia "Ocean Eyes" no SoundCloud, posteriormente lançado pelas gravadoras Darkroom e Interscope Records.
    </ion-card-content>
  </ion-card>

  <ion-list [inset]="true">
    <ion-item>
      <ion-label>TELEFONE: 998644520</ion-label><ion-icon name="call"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>INSTAGRAM: billie_oficial</ion-label><ion-icon name="logo-instagram"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>


<a href="/home" style="text-decoration: none"><ion-button expand="full" color="dark" style="margin-bottom: 0px;">Voltar</ion-button></a>


