<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">

  <div class="img-info">
    <img src="https://static1.purebreak.com.br/articles/6/97/44/6/@/385071-the-weeknd-o-que-faz-do-cantor-um-dos-m-diapo-3.jpg" />
  </div>

  <ion-card style="background-color: rgb(213, 68, 68); color:rgb(0, 0, 0)">
    <ion-card-header>
      <ion-card-title>The Weeknd</ion-card-title>
      <ion-card-subtitle>theweeknd@gmail.com</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Abel Makkonen Tesfaye, mais conhecido por seu nome artístico the Weeknd, é um cantor, compositor, ator e produtor musical canadense. Conhecido por sua versatilidade sonora e lirismo sombrio, suas músicas exploram temas de escapismo, romance e melancolia, e é frequentemente inspirada em experiências pessoais.
    </ion-card-content>
  </ion-card>

  <ion-list [inset]="true">
    <ion-item>
      <ion-label>TELEFONE: 998645555</ion-label><ion-icon name="call"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>INSTAGRAM: weeknd_oficial</ion-label><ion-icon name="logo-instagram"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>


<a href="/home" style="text-decoration: none"><ion-button expand="full" color="dark" style="margin-bottom: 0px;">Voltar</ion-button></a>


