<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">

  <div class="img-info">
    <img src="https://yt3.googleusercontent.com/RUrT5S37CJAo6b-YBd3Kn46Eadau4QkkFYVhSaqzvVhdJFXVRTYt5NStdSN_l-JCiXCLeb8fdA=s900-c-k-c0x00ffffff-no-rj" />
  </div>

  <ion-card style="background-color: rgb(158, 179, 100); color:rgb(0, 0, 0)">
    <ion-card-header>
      <ion-card-title>Sam Smith</ion-card-title>
      <ion-card-subtitle>samsmith@gmail.com</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Samuel Frederick Smith, popular pelo nome artístico Sam Smith, é uma personalidade britânica que trabalha como musicista e cancionista. Smith venceu quatro Grammy Awards, um Globo de Ouro, um Óscar e três BRIT Awards durante a carreira.
    </ion-card-content>
  </ion-card>

  <ion-list [inset]="true">
    <ion-item>
      <ion-label>TELEFONE: 998646677</ion-label><ion-icon name="call"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>INSTAGRAM: sam_oficial</ion-label><ion-icon name="logo-instagram"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>


<a href="/home" style="text-decoration: none"><ion-button expand="full" color="dark" style="margin-bottom: 0px;">Voltar</ion-button></a>


