<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">

  <div class="img-info">
    <img src="https://hips.hearstapps.com/hmg-prod/images/miley-cyrus-attends-the-versace-fw23-show-at-pacific-design-news-photo-1678839534.jpg?crop=0.66676xw:1xh;center,top&resize=1200:*" />
  </div>

  <ion-card style="background-color: rgb(218, 177, 199); color:rgb(0, 0, 0)">
    <ion-card-header>
      <ion-card-title>Miley Cyrus</ion-card-title>
      <ion-card-subtitle>mileyrainha@gmail.com</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Miley Ray Cyrus, nascida Destiny Hope Cyrus, é uma cantora, compositora e atriz norte-americana. Tornou-se mundialmente popular por interpretar Miley Stewart/Hannah Montana na famosa série do Disney Channel Hannah Montana.
    </ion-card-content>
  </ion-card>

  <ion-list [inset]="true">
    <ion-item>
      <ion-label>TELEFONE: 998645900</ion-label><ion-icon name="call"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>INSTAGRAM: miley_oficial</ion-label><ion-icon name="logo-instagram"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>


<a href="/home" style="text-decoration: none"><ion-button expand="full" color="dark" style="margin-bottom: 0px;">Voltar</ion-button></a>


